
  
  .card {
    transition: 0.5s;
    background: linear-gradient(#e66465, #9198e5);;
    border-radius: 10px;
  }
  .card h5 {
    padding: 10px 0px;
  }
  .card:hover i,
  h5 {
    color: #c2185b;
  }
  
  .service .card:hover {
    transform: scale(1.03);
    background: #fff;
  }
  
 @media screen and (max-width: 600px) {
   
    div.card-content {
      height: 50%;
   }
   div.card-content .responsive-img{
     height:30%;
     width:50%;
     left: 25%;
   } 
  } 