.h3{
    font-size:250%;
     margin-top: 15%;
    color:white
}
.r{
    padding-top:10%;
}

.h4{
  color:white;
  font-size: 150%;

}
.p{
    color:white;
}

@media only screen and (min-width: 728px){
    .h3{
        margin-left: 10%;
        margin-top: 7%;
    font-size:350%;
    color:white
}
.r{
    padding-top:3%;
}
.h4{
  color:white
  
}
.p{
    color:white;
    font-size: 125%;
}
}